answer-1>
 value are as belows:
  'hello','-87.8','6'
 expressions are as belows:
   '*', '-' ,'/', '+'

answer-2>
string is data type which collection of An alphabets, while variable is store data in main memory which is any data type like alphabets,float number,complex number,number

answer3>
data type
1> string(str)-A data type which is collection of An alphabets is known as srting dat type. 
  e,g- 'Harsh','data science'
   which is always in ' ' or " ".
2> interger(int) - A data tpe which conatins whole numbers is konws as integers data type.
   e.g- 1 , 2 , 3 , 0 ,-1
,-100 ..
3>float- a data type which is repesent the floating number is knows as Float data type.
  e.g- 10.10, 10.24, 420.85400

answer-4>
All Expression can return the value corresponding mathematically

answer 5>
expession return the value while statement does not return the value and no give any  output.

answer 6>
    23

answer-7>
'spam'+'spamspam'= 'spamspamspam'   
'spam'*3 = 'spamspamspam'

answer-8>
variable is start with  alphabtes or underscore(_) so egges a valid variable name while 100 is invalid
variable never start with number.

answer-9>
'shift+enter' or 'Run' option can be used to get the value of diffrent type of variable.

answer-10>
The given expression gives the error beacause there is different type of data and different type of data cannot add in Python.
To fix the error covert int data type to str by '' as shown in below:
'I have eaten ' + '99' + ' burritos.'