# 1.Write a Python Program to find the factorial of a number

In [ ]:
def fact(n):
    if n<0:
        print("Please enter positive number")
    else:
        fact=1
        for num in range(2,n+1):
            fact=fact*num
        return fact

In [7]:
fact(5)

120

In [8]:
fact(-1)

Please enter positive number

# 2.Write a Python Program to display the multiplication table

In [10]:
def mut_table():
    a=int(input("Enter a number"))
    for i in range(1,11):
        print(a ,"*", i , '=', a*i)

In [11]:
mut_table()

Enter a number12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

# 3.Write a Python Program to print the fibonacci sequence

In [12]:
def fin(n):
    a=1
    b=1
    for i in range(n):
        print(a) 
        a=b
        b=a+b

In [13]:
fin(5)

1
1
2
4
8

# 4.Write a Python Program to check Armstrong number

In [15]:
n=int(input('Enter the number'))
sum=0
power=len(str(n))
original=n

while n>0:
    digit=n%10
    sum=sum+digit**power
    n=n//10
if sum==original:
    print(original,' number is Armstrong number')
else:
    print(original,' number is not Amrstrong number')

Enter the number370
370  number is Armstrong number

# 6.Write a Python Program to sum of natural numbers

In [16]:
def total_sum():
    a=int(input('Enter the number'))
    b=(a*(a+1))/2
    print("The of natural numbers upto",a," is",b)

In [17]:
total_sum()

Enter the number12
The of natural numbers upto 12  is 78.0

# 5. Write a Python Program to Find Armstrong Number in an Interval

In [18]:
low = int(input("Lower limit : "))
up = int(input("Upper limit : "))


for num in range(low,up+1):
    power = len(str(num))
    temp = num
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum = sum + digit ** power
        temp = temp//10
    if num == sum :
        print(num)

Lower limit : 100
Upper limit : 2000
153
370
371
407
1634